{% extends 'layout.html' %}

{% block content %}
<h2 style="text-align: center;">Your Shopping Cart</h2>
<div class="cart">

    <ul class="cart-items">
        {% for item in data %}
        <li class="cart-item">
            <img src="{{item.image}}" alt="{{item.product}}">
            <div class="item-details">
                <h3>{{item.product}}</h3>
                <p>Quantity :{{item.quantity}}</p>
                <p>Price : INR {{item.price}}</p>
            </div>
            <button class="cart-buttons-add-remove" id="remove-from-cart-btn">Remove from Cart</button>
        </li>
        {% endfor %}
    </ul>
    <div class="cart-total">
        <p>Total</p>
        <button class="cart-buttons-add-remove" id="checkout-btn">Checkout</button>
    </div>
</div>
{% endblock %}