{% extends "layout.html" %}

{% block content %}

<div class="container" id="product-container">

    {% for product in data %}
    <div class="product">
        <img src="{{product.image}}" alt="{{product.name}}">
        <h2>{{ product.name }}</h2>
        <p class="description">{{ product.description }}</p>
        <p class="price">{{ product.price }}</p>

        <!--Specifictions-->
        <div class="specificatons">
            <h4><u>Specifications</u></h4>
            <ul>
                {% for key, value in product.specifications.items() %}
                <li><strong>{{key}} : {{value}}</strong></li>
                {% endfor %}
            </ul>
        </div>
        <form action="/addtocart" method="post">
            <input type="hidden" name="product" value="{{ product.name}}">
            <input type="hidden" name="price" value="{{ product.price }}">
            <input type="number" name="quantity" value="1">
            <input type="hidden" name="image" value="{{ product.image }}">

            <button class="add-to-cart">Add to cart</button>
        </form>
    </div>

    {% endfor %}

</div>

{% endblock %}